@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Rubik:wght@400;500;600;700;900&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

html, body, #root {
  height: 100%;
}

body {
  font: 500 1rem Rubik;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

ul, ol {
  margin: 0 0 1rem;
  padding: 0 0 0 1rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0;
}

.h-100 {
  height: 100%;
}